@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bg\ 1.jpg");
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.614);
}
#home{
 position: relative;
 width: 100wh;
 height: 100vh;
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 38%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 25s linear infinite;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
    }
}
.item{
  position: absolute;
  inset: 0 0 0 0;
  transform:
  rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
  translateZ(400px);
}
.item img{
    height: 90%;
    width: 110%;
}
.main1{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: orange;
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px 10px black, 2px 2px 10px rgba(235, 93, 16, 0.721);
  
}