@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Sentient", serif;
  overflow-x: hidden;
}

/* CLEAN RESET */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}
/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none;   /* Firefox */
}
